.red{
    color: red;
}

.map-container{
    width: 90vw;
    max-width: 1200px;
    margin: 30px auto;
}

.map-img {
  width: 100%;
  display: block;

html{
    font-family: serif;
}
p1{
    font-size: 20px;
}