.map-container {
    position: relative;
    width: 90vw;
    max-width: 1200px;
    margin: 30px auto;
}

.map-img {
    width: 100%;
    display: block;
}

.marker {
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%)
}

html {
    font-family: serif;
}

h1,p{
    font-size: 20px;
    text-align: center;
}