.map-container {
    width: 90vw;
    max-width: 1200px;
    margin: 30px auto;
}

.map-img {
    width: 100%;
    display: block;
}

.marker {
    position: absolute;
    width: 70px;
    cursor: pointer;
}

html {
    font-family: serif;
}

h1,p{
    font-size: 20px;
    text-align: center;
}